<div class="futureTech">
    <div class="futureTechTitle">
        <p>時代在變，周遭的東西也跟著進化，</p>
        <p>為了追求人類的方便，不斷的發明與改良</p>
        <p>什麼東西都可以與電子產品結合，讓你的生活更加便利！</p>
    </div>
    <div class="productWrap">
        <div class="productImg">
            <img
                src="../../assets/img/Nion_b318b8a7-5f14-48ef-9285-5f2a91f7d4b7_900x.gif"
                alt="">
            <div class="shadowContent"></div>
        </div>
        <div class="productImg">
            <img
                src="../../assets/img/82cd3049e307212d5540a6bc77c1ec9a_3fcec045-aa6c-4f12-a5f0-f1e3177c567f_400x.gif"
                alt="">
            <div class="shadowContent"></div>
        </div>
        <div class="productImg">
            <img
                src="../../assets/img/94ee1e779bae8dc96b1473e058adc3dc_900x.gif"
                alt="">
        </div>
        <div class="productImg">
            <img
                src="../../assets/img/PlasmaClock_711d328b-00ea-49f8-91a0-aa3c97f825f0_900x.gif"
                alt="">
        </div>

    </div>


</div>