.futureTech {
  background: #333;
  .futureTechTitle {
    color: #c2c2c2;
    p {
      margin: 0;
      padding: 10px 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .productWrap {
    display: flex;
    flex-wrap: wrap;
    width: 1180px;
    margin: 0 auto;
  }
  .productImg {
    width: 580px;
    height: 580px;
    margin: 0 auto 20px;
    img {
      width: 580px;
      height: 580px;
    }
  }
  .shadowContent {
    display: none;
    
  }
}
