.futureLife {
  background: #333;
  .futureLifeTitle {
    color: #c2c2c2;
    p {
      margin: 0;
      padding: 10px 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .productWrap {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }
  .productImg {
    width: calc(100%/2 - 20px);
    height: auto;
    position: relative;
    margin: 0 auto 20px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .productImg:hover .shadowContent {
    opacity: 1;
  }
  .shadowContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #fff;
    }
  }
}
