.nav{
    display: flex;
    color: #FFF;
    padding-left: 2.67vmin;
    align-items: center;
    height: 5.5vmax;
    background: rgba(0, 0, 0, 0.7);
    a{
        color: #FFF;
        text-decoration: none;
        margin-left: 2.67vmin;
    }
    a:hover {
        color: #8B8B8B;
    }
    .router-link-exact-active {
        color: #8B8B8B;
    }
}
